@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	font-family: Roboto;
}

header {
	height: 10vh;
	background-color: #333333;
	display: flex;
	align-items: center;
	padding-left: 10vh;
}

header ul {
	list-style-type: none;
}

header li {
	float: left;
	margin-right: 10vh;
	padding-left: 5vh;
}

header li a {
	text-decoration: none;
	color: white;
}

td {
	height: 80px;
	width: 120px;
	text-align: center;
}

table,
th,
td {
	border: 1px solid;
}

.table-div {
	padding-left: 30px;
	padding-top: 30px;
}

table {
	color: white;
}

main {
	display: block;
	background-image: url('../assets/city.jpg');
	background-size: cover;
	min-height: 80vh;
}

footer {
	height: 10vh;
	background-color: #333333;
	display: flex;
	align-items: center;
	padding-left: 10vh;
}

footer ul {
	list-style-type: none;
}

footer li {
	float: left;
	margin-right: 10vh;
	padding-left: 5vh;
	color: white;
}
