@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
	font-family: Roboto;
	margin: 0px;
	padding: 0px;
}

.form-h1 {
	font-size: 40px;
	margin-bottom: 20px;
}

.form-label {
	font-size: 30px;
	display: block;
	font-weight: bold;
}

body {
	background-image: url(../assets/white.jpg);
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: top;
}

.input-field {
	width: 28vh;
	height: 2vh;
	font-size: 20px;
	border-radius: .5em;
	padding: 10px;
	border: 1px solid #aaa;
}

.radio-button-label {
	font-size: 25px;
	cursor: pointer;
}

.form-group {
	margin-bottom: 15px;
}

.source-radio {
	margin-bottom: 10px;
}

.radio-item input[type=radio] {
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.form-select {
	font-size: 20px;
	color: #000;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
	border-radius: .5em;
	background-color: #fff;
	padding: .3em 1.4em .3em .7em;
}

.form-textarea {
	border: 1px solid #aaa;
	border-radius: .8em;
	padding: 10px 10px 10px 10px;
}

.form-file {
	font-size: 20px;
}

.form-agreement-checkbox {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.form-agreement-label {
	cursor: pointer;
	font-size: 20px;
}

.form-submit-button {
	font-size: 20px;
	color: #000;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
	border-radius: .5em;
	background-color: #fff;
	padding: .3em .7em .3em .7em;
}

form {
	width: 70vh;
	border: 3px solid #000;
	border-radius: .5em;
	background-color: rgba(255,255,255,.4)

}
